generated/
__pycache__/
*.pyc
.gradle/
build/
unrar
scan_output.txt
py_out.txt
build_log.txt
recolor_log.txt
branch.txt
recolor_skeletons_log.txt
CorovaItems/target/
CorovaItems/build/
CorovaItems/.gradle/
CorovaItems/.idea/
CorovaItems/*.iml
CorovaMobs/target/
CorovaMobs/build/
CorovaMobs/.gradle/
CorovaMobs/.idea/
CorovaMobs/*.iml
